[package]
name = "uv-macros"
version = "0.0.1"
edition = "2021"

[lib]
proc-macro = true

[lints]
workspace = true

[dependencies]
proc-macro2 = { workspace = true }
quote = { workspace = true }
syn = { workspace = true }
textwrap = { workspace = true }
