apache-airflow[amazon,async,celery,cncf.kubernetes,dask,docker,elasticsearch,ftp,google,google_auth,grpc,hashicorp,http,ldap,microsoft.azure,mysql,odbc,pandas,postgres,redis,sendgrid,sftp,slack,ssh,statsd,virtualenv]==2.3.4
PyMySQL[rsa] ~= 1.0
PyYAML ~= 6.0
SQLAlchemy >= 1.4.27
inflection ~= 0.5
apache-airflow[docker,hashicorp,mysql]==2.3.4
pandas==1.4.3
beautifulsoup4==4.11.1
google-cloud-bigquery==2.34.4
scikit-learn==1.2.2
astronomer-providers==1.18.4
PyMySQL[rsa]>=1.1.0
python-stdnum>=1.20
python-calamine>=0.2.0
pyxlsb>=1.0.10
tqdm>=4.66.2
XlsxWriter>=3.2.0
Unidecode>=1.3.4
sqlglot>=23.17.0
ipython>=8.4.0
