[package]
name = "uv-warnings"
version = "0.0.1"
edition = { workspace = true }
rust-version = { workspace = true }
homepage = { workspace = true }
documentation = { workspace = true }
repository = { workspace = true }
authors = { workspace = true }
license = { workspace = true }

[lints]
workspace = true

[dependencies]
anstream = { workspace = true }
owo-colors = { workspace = true }
rustc-hash = { workspace = true }
