[package]
name = "uv-build"
version = "0.6.7"
edition.workspace = true
rust-version.workspace = true
homepage.workspace = true
documentation.workspace = true
repository.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
uv-build-backend = { workspace = true }
uv-version = { workspace = true }

anyhow = { workspace = true }

[lints]
workspace = true
