[package]
name = "uv-trampoline"
version = "0.1.0"
authors = ["Nathaniel J. Smith <njs@pobox.com>"]
license = "MIT OR Apache-2.0"
edition = "2021"
autotests = false


# Need to optimize etc. or else build fails
[profile.dev]
panic = "abort"
debug = true

[profile.release]
lto = true
codegen-units = 1
opt-level = "z"
panic = "abort"
debug = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
windows-sys = { version = "0.52.0", features = [
  "Win32_Foundation",
  "Win32_Security",
  "Win32_Storage_FileSystem",
  "Win32_System_Console",
  "Win32_System_Diagnostics_Debug",
  "Win32_System_Environment",
  "Win32_System_IO",
  "Win32_System_JobObjects",
  "Win32_System_JobObjects",
  "Win32_System_LibraryLoader",
  "Win32_System_Memory",
  "Win32_System_Threading",
  "Win32_System_WindowsProgramming",
  "Win32_UI_WindowsAndMessaging",
] }

ufmt-write = "0.1.0"
ufmt = { version = "0.2.0", features = ["std"] }

[build-dependencies]
embed-manifest = "1.4.0"


