#!/usr/bin/env bash

TMP=$(mktemp -d)
OUTPUT="$(pwd)/compare"
PUFFIN="$(pwd)/target/debug/puffin"
RIP="$(pwd)/target/debug/rip"

# Write some metadata frontmatter
# cat << EOF > "$OUTPUT"
# Generated with {{generated_with}}
# Scenarios from <{{generated_from}}>
# EOF

run() { 
    echo '$' "$@" \
        | sed "s#$CACHE#[cache]#g" \
        | sed "s#$VENV#[venv]#g" \
        | sed "s#$TMP#[tmp]#g" \
        | sed "s#$PWD#.#g" \
        >> "$SCENARIO_OUTPUT"
    $@ \
        2>&1 \
        | sed 's/$PREFIX-//g' \
        | sed 's/\x1B\[[0-9;]\{1,\}[A-Za-z]//g' \
        >> "$SCENARIO_OUTPUT"
}

rm -rf "$OUTPUT"
mkdir -p "$OUTPUT"
echo "Creating temporary directory at $TMP"

{{#scenarios}}
SCENARIO_OUTPUT="$OUTPUT/{{name}}.md"
CACHE="$TMP/cache"
mkdir -p "$CACHE"

cat << "EOF" > "$SCENARIO_OUTPUT"
# {{name}}

{{#description_lines}}
{{.}}
{{/description_lines}}

```
{{prefix}}
{{#tree}}
{{.}}
{{/tree}}
```

EOF

PREFIX='{{prefix}}'

echo "Running {{name}} with pip"
VENV="$TMP/venv"
$PUFFIN venv "$VENV" --cache-dir "$CACHE" --python "python{{environment.python}}" > /dev/null 2>&1

VIRTUAL_ENV=$VENV \
echo "## pip" >> "$SCENARIO_OUTPUT"
echo "" >> "$SCENARIO_OUTPUT"
echo '```' >> "$SCENARIO_OUTPUT"
run pip --python "$VENV/bin/python" install \
    {{#root.requires}}
    "{{prefix}}-{{.}}" \
    {{/root.requires}}
    {{#environment.prereleases}}
    --pre \
    {{/environment.prereleases}}
    --extra-index-url https://test.pypi.org/simple \
    --cache-dir $CACHE \

echo '```' >> "$SCENARIO_OUTPUT"

# Reset
rm -rf "$VENV"
echo "" >> "$SCENARIO_OUTPUT"
echo "" >> "$SCENARIO_OUTPUT"

echo "Running {{name}} with puffin"
$PUFFIN venv "$VENV" --cache-dir "$CACHE" --python "python{{environment.python}}" > /dev/null 2>&1

echo "## puffin" >> "$SCENARIO_OUTPUT"
echo "" >> "$SCENARIO_OUTPUT"
echo '```' >> "$SCENARIO_OUTPUT"
VIRTUAL_ENV=$VENV PUFFIN_NO_WRAP=1 \
run $PUFFIN pip-install \
    {{#root.requires}}
    "{{prefix}}-{{.}}" \
    {{/root.requires}}
    {{#environment.prereleases}}
    --prerelease=allow \
    {{/environment.prereleases}}
    --extra-index-url https://test.pypi.org/simple \
    --cache-dir $CACHE

echo '```' >> "$SCENARIO_OUTPUT"

# Reset
rm -rf "$VENV"
echo "" >> "$SCENARIO_OUTPUT"
echo "" >> "$SCENARIO_OUTPUT"

echo "Running {{name}} with rip"
$PUFFIN venv "$VENV" --cache-dir "$CACHE" --python "python{{environment.python}}" > /dev/null 2>&1

echo "## rip" >> "$SCENARIO_OUTPUT"
echo "" >> "$SCENARIO_OUTPUT"
echo '```' >> "$SCENARIO_OUTPUT"
VIRTUAL_ENV=$VENV \
run $RIP \
    {{#root.requires}}
    "{{prefix}}-{{.}}" \
    {{/root.requires}}
    --index-url http://localhost:3141/packages/all/+simple/
echo '```' >> "$SCENARIO_OUTPUT"


rm -rf "$VENV"
echo "" >> "$SCENARIO_OUTPUT"
echo "" >> "$SCENARIO_OUTPUT"

echo "Running {{name}} with poetry"
$PUFFIN venv "$VENV" --cache-dir "$CACHE" --python "python{{environment.python}}" > /dev/null 2>&1

PROJECT="$TMP/project"
mkdir -p "$PROJECT"
VIRTUAL_ENV=$VENV poetry --directory="$PROJECT" init --name 'compare' --no-interaction  --python '>={{environment.python}}' > /dev/null 2>&1
VIRTUAL_ENV=$VENV poetry --directory="$PROJECT" source add test-pypi https://test.pypi.org/simple/ --priority=supplemental > /dev/null 2>&1

echo "## poetry" >> "$SCENARIO_OUTPUT"
echo "" >> "$SCENARIO_OUTPUT"
echo '```' >> "$SCENARIO_OUTPUT"
VIRTUAL_ENV=$VENV \
run poetry --directory="$PROJECT" add \
    {{#root.requires}}
    "{{prefix}}-{{.}}" \
    {{/root.requires}}
    {{#environment.prereleases}}
    --allow-prereleases
    {{/environment.prereleases}}

echo '```' >> "$SCENARIO_OUTPUT"

rm -r "$TMP"
{{/scenarios}}

echo "Done! See $OUTPUT for results"
