[package]
name = "uv-logging"
version = "0.0.24"
description = "This is an internal component crate of uv"
edition = { workspace = true }
rust-version = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
authors = { workspace = true }
license = { workspace = true }

[lib]
doctest = false

[lints]
workspace = true

[dependencies]
jiff = { workspace = true }
owo-colors = { workspace = true }
tracing-subscriber = { workspace = true }
tracing = { workspace = true }
