[package]
name = "puffin-fs"
version = "0.0.1"
edition = { workspace = true }
rust-version = { workspace = true }
homepage = { workspace = true }
documentation = { workspace = true }
repository = { workspace = true }
authors = { workspace = true }
license = { workspace = true }

[lints]
workspace = true

[dependencies]
puffin-warnings = { path = "../puffin-warnings" }

fs-err = { workspace = true, features = ["tokio"] }
fs2 = { workspace = true }
tempfile = { workspace = true }
tracing = { workspace = true }
junction = "1.0.0"
