on:
  workflow_call:

jobs:
  dist-plan:
    name: "dist plan"
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          submodules: recursive

      - name: Install dist
        shell: bash
        run: "curl --proto '=https' --tlsv1.2 -LsSf https://github.com/axodotdev/cargo-dist/releases/download/v0.30.2/cargo-dist-installer.sh | sh"

      - name: Run dist plan
        run: |
          dist plan --output-format=json > plan-dist-manifest.json
          echo "dist plan completed successfully"
          cat plan-dist-manifest.json
