name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  CARGO_TERM_COLOR: always
  RUSTUP_MAX_RETRIES: 10
  PYTHON_VERSION: "3.12"

jobs:
  cargo-fmt:
    name: "cargo fmt"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Install Rust toolchain"
        run: rustup component add rustfmt
      - name: "rustfmt"
        run: cargo fmt --all --check

  cargo-clippy:
    name: "cargo clippy"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Install Rust toolchain"
        run: |
          rustup component add clippy
      - uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.ref == 'refs/heads/main' }}
      - name: "Clippy"
        run: cargo clippy --workspace --all-targets --all-features --locked -- -D warnings

  cargo-build-test:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    name: "cargo build | ${{ matrix.os }}"
    steps:
      - uses: actions/checkout@v4
      - name: Install cargo nextest
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest
      - name: Build tests
        run: cargo nextest archive --archive-file nextest-archive.tar.zst --all --all-features
      - name: Upload archive
        uses: actions/upload-artifact@v3
        with:
          name: nextest-archive-${{ matrix.os }}
          path: nextest-archive.tar.zst

  cargo-test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        partition: [1, 2]
    runs-on: ${{ matrix.os }}
    name: "cargo test [${{ matrix.partition }}/2] | ${{ matrix.os }}"
    needs: cargo-build-test
    steps:
      - uses: actions/checkout@v4
      - name: "Install Python"
        uses: actions/setup-python@v4
        with:
          python-version: |
            3.7
            3.8
            3.9
            3.10
            3.11
            3.12
      - name: "Install Rust toolchain"
        run: rustup show
      - name: "Install cargo insta"
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-insta
      - name: "Install cargo nextest"
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest
      - uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.ref == 'refs/heads/main' }}
      - name: Download build artifacts
        uses: actions/download-artifact@v3
        with:
          name: nextest-archive-${{ matrix.os }}
      - name: "Tests (Ubuntu)"
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          cargo nextest run \
            --status-level skip --failure-output immediate-final --no-fail-fast \
            --archive-file nextest-archive.tar.zst \
            --partition count:${{ matrix.partition }}/2
