# Perform publishing steps.
#
# This is a reusable workflow that runs as a subworkflow of .github/workflows/release.yml;
# specifically, as the `publish` job within `cargo-dist`.
#
# Internally, this reusable workflow dispatches to other reusable workflows for specific
# publishing targets (e.g. PyPI, crates.io). These subworkflows are dispatched in
# a rough order of reliability/recovery complexity.

name: "Publish"

on:
  workflow_call:
    inputs:
      plan:
        required: true
        type: string

jobs:
  publish-pypi:
    name: Publish to PyPI
    uses: ./.github/workflows/publish-pypi.yml
    with:
      plan: ${{ inputs.plan }}
    secrets: inherit
    # publish jobs get escalated permissions
    permissions:
      "id-token": "write"
      "packages": "write"

  publish-cratesio:
    name: Publish to crates.io
    # We only publish to crates.io after PyPI publishing has succeeded,
    # as recovering from a partial crates.io release is more complex.
    needs: [publish-pypi]
    uses: ./.github/workflows/publish-crates.yml
    with:
      plan: ${{ inputs.plan }}
    secrets: inherit
    # publish jobs get escalated permissions
    permissions:
      "id-token": "write"
      "packages": "write"
